<form method="post" action="/usuarios/<%=user.id%>?_method=PATCH">
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      value="<%=user.email%>"
      required
    />
  </div>
  <div class="mb-3">
    <label for="firstname" class="form-label">Nombre</label>
    <input
      type="text"
      class="form-control"
      id="firstname"
      name="firstname"
      value="<%=user.firstname%>"
      required
    />
  </div>

  <div class="mb-3">
    <label for="lastname" class="form-label">Apellido</label>
    <input
      type="text"
      class="form-control"
      id="lastname"
      name="lastname"
      value="<%=user.lastname%>"
      required
    />
  </div>

  <div class="form-check form-check-inline">
    <input
      id="contraseniaRadio"
      class="form-check-input"
      type="checkbox"
      name="inlineRadioOptions"
      value="Si"
    />
    <label class="form-check-label" for="inlineRadio1">Cambiar contraseña</label>
  </div>
  <div class="mb-3" id="divPass">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" />
  </div>

  <!-- <div id="passVerify" class="mb-3">
    <label for="password" class="form-label">Repita su password</label>
    <input type="password" class="form-control" id="password" name="password" />
  </div> -->
  <div><button type="submit" class="btn btn-primary mt-2">Guardar cambios</button></div>
</form>
