<form action="" class="d-flex flex-column gap-4">
  <label class="form-label" for="title">Edite el titulo de su Articulo:</label>
  <input class="form-control" type="text" name="title" id="title" placeholder="Titulo..." />
  <label class="form-label" for="content">Edite el contenido de su Articulo:</label>
  <textarea
    class="form-control"
    name="content"
    id="content"
    cols="30"
    rows="10"
    placeholder="Contenido..."
  ></textarea>
  <!-- Cambiar pora volver al admin-->
  <div class="d-flex justify-content-between">
    <a href="/" class="btn btn-danger w-25">volver</a>
    <button type="submit" class="btn btn-success w-25">Crear</button>
  </div>
</form>
