<footer class="d-flex flex-column">
  <hr />
  <div class="container d-flex justify-content-center gap-3">
    <a href="#" class="icon-link">
      <i class="bi bi-twitter text-black" style="font-size: 30px"></i>
    </a>
    <a href="#" class="icon-link">
      <i class="bi bi-github text-black" style="font-size: 30px"></i>
    </a>
    <a href="#" class="icon-link">
      <i class="bi bi-facebook text-black" style="font-size: 30px"></i>
    </a>
  </div>
  <div class="container text-center">
    <p class="text-muted">Copyright @ Hack Academy 2023</p>
  </div>
</footer>
