<footer>
  <hr />
  <div class="container d-flex justify-content-center">
    <a href="#" class="icon-link"><i class="bi bi-facebook text-black"></i></a>
    <a href="#" class="icon-link"><i class="bi bi-github text-black"></i></a>
    <a href="#" class="icon-link"><i class="bi bi-twitter text-black"></i></a>
  </div>
  <div class="container text-center">
    <p class="textofooter">Copyright @ Hack Academy 2023</p>
  </div>
  <hr />
</footer>
